<div class="container">
  <div class="header">
    <div class="icon">
      <img src="/icons/gyroscope.png" alt="Gyroscope Icon" class="gyroscope-icon">
    </div>
    <h2>Gyroscope</h2>
  </div>
  <div class="data-content">
    <div class="acceleraion-data">
      <p class="section-label">Acceleration</p>
      <div class="data-acc-item">X: 0.00</div>
      <div class="data-acc-item">Y: 0.00</div>
      <div class="data-acc-item">Z: 0.00</div>
    </div>
    <div class ="interacitve-view">

    </div>
    <div class="gyroscope-data">
      <p class="section-label">Position</p>
      <div class="data-gyro-item">P: 0.00</div>
      <div class="data-gyro-item">R: 0.00</div>
      <div class="data-gyro-item">Y: 0.00</div>
    </div>
  </div>

</div>


