<div class="tool-bar">
  <div class="app-logo">
    <img src="/icons/artificial-intellegence.png" alt="Robot Icon" class="logo-icon">
    <h1>RemoteCore</h1>
  </div>
  <div class="connection-status">
    <img src="/icons/wi-fi.png" alt="Connection Icon" class="connection-icon">
  </div>
  <div class="user-menu">
    <img src="/icons/user.png" alt="User Icon" class="user-icon">
    <p class="user-name">{{ displayName }}</p>
    <img src="/icons/logout.png" (click)="onLogoutClick()" alt="Logout Icon" class="logout-icon">
  </div>
</div>
