<div class="container">
  <div class="header">
    <div class="icon">
      <img src="/icons/speedometer.png" alt="Speed Icon" class="speed-icon">
    </div>
    <h2>Speed</h2>
  </div>

  <div class="clocks">
    <div class="side-gauge left">
      <ngx-gauge
        [type]="'semi'"
        [value]="linkQuality()"
        [cap]="gaugeCap"
        [size]="125"
        [thick]="8"
        [max]="100"
        [backgroundColor]="gaugeTrackColor"
        [thresholds]="signalThresholds">
        <ngx-gauge-label>Link Quality</ngx-gauge-label>
        <ngx-gauge-append>%</ngx-gauge-append>
      </ngx-gauge>
    </div>

    <div class="main-gauge-wrapper">
      <ngx-gauge
        [type]="centerGaugeType"
        [value]="speedValue()"
        [cap]="gaugeCap"
        [size]="190"
        [thick]="12"
        [max]="3"
        [backgroundColor]="gaugeTrackColor"
        [thresholds]="speedThresholds">
        <ngx-gauge-label>Velocity</ngx-gauge-label>
        <ngx-gauge-append>m/s</ngx-gauge-append>
      </ngx-gauge>
    </div>

    <div class="side-gauge right">
      <ngx-gauge
        [type]="'semi'"
        [value]="vibration()"
        [cap]="gaugeCap"
        [size]="125"
        [thick]="8"
        [max]="4"
        [backgroundColor]="gaugeTrackColor"
        [thresholds]="vibThresholds">
        <ngx-gauge-label>Vibration</ngx-gauge-label>
        <ngx-gauge-append>G</ngx-gauge-append>
      </ngx-gauge>
    </div>
  </div>

  <div class="status-row">
    <div class="status-card">
      <span class="label">IMU Rate</span>
      <span class="value">{{ imuHz() }} Hz</span>
    </div>
    <div class="status-card">
      <span class="label">Lidar Rate</span>
      <span class="value">{{ lidarHz() }} Hz</span>
    </div>
    <div class="status-card">
      <span class="label">Uptime</span>
      <span class="value">{{ runtimeValue() }}</span>
    </div>
  </div>
</div>



