<div class="main-container">
  <form class="login-form">
  <div class="logo">
    <img src="/icons/artificial-intellegence.png" alt="Robot Icon" class="logo-icon">
    <h1>RemoteCore</h1>
  </div>

    <div class="input-group">
      <mat-icon>person</mat-icon>
      <input class="username-input" type="text" placeholder="Enter username"  name="username"/>
    </div>

    <div class="input-group">
      <mat-icon>lock</mat-icon>
      <input class="password-input" type="password" placeholder="Enter password"  name="password"/>
    </div>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</div>
