/* You can add global styles to this file, and also import other style files */
:root {
  --font-family-base: 'Roboto', 'Helvetica Neue', sans-serif;
  --color-primary: #DADDE0;
  --color-secondary: #07C71E;
  --color-background: #212529;
  --color-text: #212529;
}

html,body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
