/*container*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  user-select: none;
}

.header {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.steering-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.header h2 {
  font-family: Inter, sans-serif;
  color: var(--color-text);
  margin: 0;
  font-size: 1.2rem;
  text-shadow: 0 2px 6px rgba(0,0,0,0.35);
}

/*Joystick*/
.joystick-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 2rem;
}

.joystick-section .wrapper-label {
  margin-bottom: 0.1rem;
}

.telemetry {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-family: Inter , sans-serif;
  font-size: 0.8rem;
  color: var(--color-text);
  min-width: 120px;
}

.joystick-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  width: 140px;
  height: 140px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.5);
  pointer-events: none;
  touch-action: none;
}


.thumb {
  width: 60px;
  height: 60px;
  background: #3c3c3c;
  border-radius: 50%;
  box-shadow: 0 8px 15px rgba(0,0,0,0.4);
  cursor: grab;
  transition: transform 0.05s ease-out;
  touch-action: none;
}

.thumb:active {
  cursor: grabbing;
}

/*Speed Control*/

.speed-section {
  width: 100%;
}

.wrapper-label {
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-text);
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  text-align: center;
}

.control-speed-wrapper {
  background-color: var(--color-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.4);
  padding: 0.3rem;
  gap: 0.45rem;
  box-sizing: border-box;
}

.control-button {
  flex: 1;
  background-color: var(--color-primary);
  height: 100%;
  border: none;
  border-radius: 10px;
  color: var(--color-text);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}


