<div class="container">
  <div class="header">
    <div class="icon">
      <img src="/icons/game-controller.png" alt="Steering Icon" class="steering-icon">
    </div>
    <h2>Control</h2>
  </div>

  <div class="joystick-section">
    <p class="wrapper-label">Joystick Control</p>
    <div class="telemetry">
      <span>X: {{joyStickPos().x.toPrecision(2)}}%</span>
      <span>Y: {{joyStickPos().y.toPrecision(2)}}%</span>
    </div>
    <div class="joystick-wrapper" #container
         (mousedown)="onStart($event)"
         (touchstart)="onStart($event)">
      <div class="base" [class.active]="dragging"> <!-- Klasa active dla lepszego wyglądu przy dotyku -->
        <div class="thumb" [ngStyle]="thumbStyle()"></div> <!-- TUTAJ: thumbStyle() z nawiasami! -->
        <div class="rings">
          <span></span><span></span><span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="speed-section">
    <p class="wrapper-label">Speed Mode</p>
    <div class="control-speed-wrapper">
      <button
        class="control-button"
        (click)="onCommandClick(SteeringCommands.Slow)">
        {{ SteeringCommands.Slow | titlecase }}
      </button>

      <button
        class="control-button"
        (click)="onCommandClick(SteeringCommands.Medium)">
        {{ SteeringCommands.Medium | titlecase }}
      </button>

      <button
        class="control-button"
        (click)="onCommandClick(SteeringCommands.Fast)">
        {{ SteeringCommands.Fast | titlecase }}
      </button>
    </div>
  </div>
</div>
