<div class="container">
  <div class="header">
    <div class="icon">
      <img src="/icons/tools.png" alt="Lidar Icon" class="tools-icon">
    </div>
    <h2>Diagnostics</h2>
  </div>

  <div class="view-section">
    <p class="wrapper-label">View</p>
    <div class="canvas-wrapper">
      <ngt-canvas [camera]="{ position: [4, 3, 5] }">
        <ng-template canvasContent>
          <ngt-ambient-light [intensity]="1.5" />
          <ngt-point-light [position]="[10, 10, 10]" />
          <ngts-orbit-controls/>

          @if (RobotModel.scene(); as scene) {
            <ngt-primitive *args="[scene]" />

          } @else if (RobotModel.isLoading()) {
            <ngt-mesh [position]="[0, 0.5, 0]">
              <ngt-box-geometry />
              <ngt-mesh-standard-material />
            </ngt-mesh>
          }

          <ngt-grid-helper *args="[10, 10]" />
        </ng-template>
      </ngt-canvas>
    </div>
  </div>

  <div class="logs-section">
    <p class="wrapper-label">Logs</p>
    <div class="log-console">
      <div class="log-entry"><span class="timestamp">[21:44:01]</span> System initialized</div>
      <div class="log-entry"><span class="timestamp">[21:44:05]</span> Robot connected</div>
      <div class="log-entry success"><span class="timestamp">[21:44:06]</span> WebSocket Handshake OK</div>
      <div class="log-entry warning"><span class="timestamp">[21:44:10]</span> Battery at 85%</div>
    </div>
  </div>
</div>
